<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../template/head.ejs') %>
</head>

<body>
    <%- include('../template/navbar.ejs') %>
        <div class="container">
            <h1>登入頁面</h1>
            <% if(errorMessage && errorMessage > 0) {%>
                <div class="alert alert-danger" role="alert">
                    <%= errorMessage %>
                </div>
                <% } %>
                    <form method="POST" action="/login">
                        <div class="row g-3 align-items-center mt-2">
                            <div class="col-auto">
                                <label for="inputUsername" class="col-form-label">username</label>
                            </div>
                            <div class="col-auto">
                                <input type="text" id="inputUsername" class="form-control" name="username">
                            </div>
                        </div>
                        <div class="row g-3 align-items-center mt-2">
                            <div class="col-auto">
                                <label for="inputPassword" class="col-form-label">password</label>
                            </div>
                            <div class="col-auto">
                                <input type="password" id="inputPassword" class="form-control" name="password">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">提交</button>
                    </form>
        </div>

</body>

</html>